@import 'styles/variables.module.scss';

.advertisement {
  width: 100%;
  max-width: 1700px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 0px;
  &_container {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    padding: 0px;
    width: 100%;
  }
  &_body {
    background: url('../../../../public/img/conditionsBackground.png') no-repeat
      center;
    background-position: center;
    background-size: cover;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  &_color {
    color: $colorMainOrange;
  }
}

.characteristics {
  &_container {
    display: flex;
    justify-content: center;
  }
  &_block {
    background: $colorMainBlueBlack;
    box-shadow: $boxShadow;
    border-radius: $borderRadiusBlock;
    padding: 30px 50px 70px 50px;
    width: 94%;
  }
  &_info {
    font-family: $fontFamily;
    font-weight: 800;
    color: $colorMainWhite;
    font-size: 24px;
    word-break: break-all;
    margin-left: 5px;
  }
  &_column {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
  }
  &_box {
    display: flex;
    align-items: center;
    margin: 5px 0;
    width: 50%;
  }
  &_title {
    display: flex;
    flex-direction: column;
    font-weight: 800;
    color: $colorMainWhite;
    margin: 10px 0;
    &_make {
      font-size: 50px;
      font-family: $fontFamilyBold;
      font-weight: 800;
    }
    &_price {
      font-size: 35px;
      font-family: $fontFamilyBold;
      font-weight: 800;
      margin: 20px 0;
    }
  }
  &_description {
    &_title {
      font-family: $fontFamilyBold;
      font-weight: 800;
      color: $colorMainBlueBlack;
      margin: 10px 0;
      font-size: 34px;
    }
    &_block {
      width: 100%;
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
    }
    &_info {
      font-weight: 500;
      color: $colorMainBlueBlack;
      font-family: $fontFamily;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0px;
      word-break: break-all;
    }
    &_container {
      display: flex;
      justify-content: center;
    }
    &_box {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 50px 0;
      width: 91%;
    }
  }
}

.btn {
  &_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_back {
    width: 100%;
    padding: 10px 0 10px 40px;
    cursor: pointer;
    font-family: $fontFamily;
    font-size: 70px;
    line-height: 116px;
    font-weight: 900;
    color: $colorMainBlueBlack;
    text-shadow: $boxShadow;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    border-radius: 0%;
    transition: 0.2s;
    &:hover{
      opacity: 0.9;
    }
    &_img {
      display: flex;
      align-content: center;
      margin-right: 60px;
      position: relative;
      height: 83.33333587646484px;
      width: 83.33333587646484px;
    }
  }
  &_characteristics {
    &_box {
      display: flex;
      justify-content: center;
    }
    &_contact {
      margin: 20px 0;
      width: 230px;
      background-color: $colorMainOrange;
      cursor: pointer;
      height: 40px;
      font-family: 'Gilroy';
      font-weight: 800;
      color: $colorMainWhite;
      font-size: 18px;
      border-radius: $borderRadiusBtn;
      box-shadow: $boxShadow;
      transition: 0.3s;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
}

@media (max-width: 1150px) {
  .advertisement {
    &_body {
      background: $colorMainWhite no-repeat center;
    }
  }

  .characteristics {
    &_block {
      padding: 30px;
    }
    &_container {
      margin-bottom: 0;
    }
    &_info {
      font-family: $fontFamily;
      font-weight: 800;
      color: $colorMainWhite;
      font-size: 20px;
      word-break: break-all;
      margin-left: 5px;
    }
    &_title {
      &_make {
        font-size: 40px;
      }
      &_price {
        font-size: 28px;
      }
    }
    &_description {
      &_title {
        font-size: 28px;
      }
      &_block {
        margin-bottom: 40px;
      }
      &_box {
        padding: 40px 0;
      }
    }
  }

  .container {
    background: $colorMainWhite no-repeat center;
    background-position: center;
    background-size: cover;
  }
  .btn {
    &_back {
      font-size: 40px;
      width: 90%;
      &_img {
        display: flex;
        align-content: center;
        margin-right: 30px;
        position: relative;
        height: 60px;
        width: 60px;
      }
    }
  }
}

@media (max-width: 675px) {
  .advertisement {
    &_container {
      margin-bottom: 0;
    }
    &_body {
      position: relative;
      width: 100%;
    }
  }

  .characteristics {
    &_block {
      box-shadow: none;
      padding: 20px;
      width: 100%;
      margin-top: -10px;
      border-radius:0;
    }

    &_box {
      width: 100%;
    }
    &_container {
      margin-bottom: 0;
      position: relative;
    }
    &_title {
      &_make {
        display: none;
      }
      &_price {
        font-size: 28px;
      }
    }

    &_description {
      &_title {
        font-size: 28px;
      }
      &_block {
        width: 100%;
        margin-bottom: 30px;
      }
      &_info {
        font-weight: 500;
        color: $colorMainBlueBlack;
        font-family: $fontFamily;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0px;
        word-break: break-all;
      }
      &_box {
        padding: 20px 0;
      }
    }
  }

  .btn {
    &_back {
      width: 75%;
      top: 42px;
      left: 7%;
      position: absolute;
      z-index: 9;
      font-size: 24px;
      line-height: 24px;
      font-weight: 800;
      padding: 0;
      color: $colorMainWhite;
      &_info {
        display: flex;
        justify-content: flex-start;
        width: 100%;
      }
      &_img {
        display: flex;
        margin-right: 10px;
        position: relative;
        height: 40px;
        width: 40px;
      }
    }
    &_characteristics {
      &_contact {
        margin: 50px 0;
        width: 300px;
      }
    }
  }
  .container {
    width: 100%;
    background: none;
  }
}
