@import 'styles/variables.module.scss';

.purchased_car {
  width: 25%;
  // min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 26px 36px 30px;
  background: $colorMainWhite;
  box-shadow: $boxShadow;
  border-radius: 10px;
  cursor: pointer;

  &_odometer {
    width: 100%;
    display: flex;
    justify-content: center;

    &_text {
      margin-left: 5px;
      display: flex;
      align-items: center;
      font-family: $fontFamily;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.38px;
      color: $colorMainDarkGrey;
    }
  }

  &_background_img {
    width: auto;
    height: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
    // filter: drop-shadow($boxShadow);
    margin-bottom: 5px;
    position: relative;
  }

  &_title {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: $colorMainBlueBlack;
    text-align: center;
    margin: 16px 0 13px;
  }

  &_info {
    font-family: $fontFamily;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: $colorMainBlueBlack;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &_price {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-bottom: 2px;

    &_uah {
      font-family: $fontFamily;
      font-style: normal;
      font-weight: 800;
      font-size: 17px;
      line-height: 22px;
      color: $colorMainBlueBlack;
    }
  }

  &_button {
    border: 0;
    width: 100%;
    height: 39px;
    background: $colorMainOrange;
    border-radius: 4px;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: $colorMainWhite;
    cursor: pointer;
    margin: 0 auto;
    transition: 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}

@media (max-width: 1285px) {
  .purchased_car {
    width: 400px;
  }
}
