@import 'styles/variables.module.scss';

.purchased_car {
  width: 400px;
  height: 458px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background: $colorMainWhite;
  box-shadow: $boxShadow;
  border-radius: 10px;
  cursor: pointer;

  &_odometer {
    width: 100%;
    display: flex;
    justify-content: center;

    &_text {
      margin-left: 5px;
      display: flex;
      align-items: center;
      font-family: $fontFamily;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.38px;
      color: $colorMainDarkGrey;
    }
  }

  &_info {
    font-family: $fontFamily;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: $colorMainBlueBlack;
    text-align: center;
    display: flex;
    flex-direction: column;

    &_box {
      display: flex;
      width: 50%;
      margin-bottom: 5px;
    }

    &_text {
      display: flex;
      align-items: center;
      margin-left: 5px;
    }
  }

  &_background_img {
    display: flex;
    border: 30px;
    justify-content: center;
    align-items: center;
    filter: drop-shadow($boxShadow);
    margin-bottom: 5px;
  }

  &_title {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: $colorMainBlueBlack;
    text-align: center;
  }

  &_subtitle {
    font-family: $fontFamily;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: $colorMainBlueBlack;
    text-align: center;
  }

  &_price {
    text-align: center;

    &_usd {
      font-family: $fontFamily;
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 30px;
      color: $colorMainOrange;
    }

    &_between {
      font-family: $fontFamily;
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 30px;
      margin: 0 10px;
    }

    &_uah {
      font-family: $fontFamily;
      font-style: normal;
      font-weight: 800;
      font-size: 19px;
      line-height: 22px;
      color: $colorMainBlueBlack;
    }
  }

  &_button {
    border: 0;
    width: 80%;
    height: 39px;
    background: $colorMainOrange;
    border-radius: 4px;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: $colorMainWhite;
    cursor: pointer;
    transition: 0.2s all;
    margin: 0 auto;
    &:hover {
      background: $colorMainOrange;
    }
  }
}

@media (max-width: 1285px) {
  .purchased_car {
    width: 350px;
  }
}
