.characteristics {
  display: flex;
  justify-content: space-between;
  &_font {
    font-family: 'Gilroy';
    font-weight: 800;
    color: white;
    font-size: 20px;
  }
  &_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.btn {
  &_back {
    width: 100%;
    cursor: pointer;
    height: 40px;
    font-family: 'Gilroy';
    font-weight: 800;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    border-radius: 0%;
    background-color: #ff8a00;
    &:hover {
      background-color: #ff8a00;
      color:white;
    }
  }
  &_characteristics {
    margin: 40px 0 20px 0;
    width: 170px;
    background-color: #ff8a00;
    cursor: pointer;
    height: 40px;
    font-family: 'Gilroy';
    font-weight: 800;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    &:hover {
      background-color: #ff8a00;
      color:white;
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  width: 60%;
}

.slider {
  &_img {
    width: 100%;
    height: 630px;
  }
  &_box {
    width: 100%;
    height: 630px;
  }
}

@media (max-width: 2500px) {
  .slider {
    &_img {
      width: 100%;
      height: 830px;
    }
    &_box {
      width: 100%;
      height: 830px;
    }
  }
}

@media (max-width: 2200px) {
  .slider {
    &_img {
      width: 100%;
      height: 700px;
    }
    &_box {
      width: 100%;
      height: 700px;
    }
  }
}

@media (max-width: 1850px) {
  .slider {
    &_img {
      width: 100%;
      height: 600px;
    }
    &_box {
      width: 100%;
      height: 600px;
    }
  }
}

@media (max-width: 1460px) {
  .slider {
    &_img {
      width: 100%;
      height: 480px;
    }
    &_box {
      width: 100%;
      height: 480px;
    }
  }
}

@media (max-width: 1150px) {
  .container {
    display: flex;
    justify-content: center;
    width: 70%;
  }
  .slider {
    &_img {
      width: 100%;
      height: 450px;
    }
    &_box {
      width: 100%;
      height: 450px;
    }
  }
}

@media (max-width: 850px) {
  .container {
    display: flex;
    justify-content: center;
    width: 75%;
  }
  .slider {
    &_img {
      width: 100%;
      height: 400px;
    }
    &_box {
      width: 100%;
      height: 400px;
    }
  }
}

@media (max-width: 690px) {
  .container {
    display: flex;
    justify-content: center;
    width: 90%;
  }
  .slider {
    &_img {
      width: 100%;
      height: 350px;
    }
    &_box {
      width: 100%;
      height: 350px;
    }
  }
}

@media (max-width: 500px) {
  .container {
    display: flex;
    justify-content: center;
    width: 95%;
  }
  .slider {
    &_img {
      width: 100%;
      height: 280px;
    }
    &_box {
      width: 100%;
      height: 280px;
    }
  }
}


