.characteristics {
  display: flex;
  justify-content: center;
  &_head {
    font-family: Gilroy;
    font-weight: 800;
    color: white;
    margin: 10px 0;
    &_make {
      font-size: 40px;
    }
    &_price {
      font-size: 30px;
    }
  }
  &_block {
    background: #393e46;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 50px;
    width: 90%;
  }
  &_font {
    font-family: 'Gilroy';
    font-weight: 800;
    color: white;
    font-size: 18px;
    word-break: break-all;
    margin-left: 5px;
  }
  &_column {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;

    &_box {
      display: flex;
      align-items: center;
      margin: 5px 0;
      width: 50%;
    }
  }
}

.btn {
  &_back {
    width: 100%;
    cursor: pointer;
    font-family: 'Gilroy';
    font-size: 70px;
    line-height: 116px;
    font-weight: 900;
    color: #393e46;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    border-radius: 0%;
  }
  &_characteristics {
    margin: 40px 0 20px 0;
    width: 230px;
    background-color: #ff8a00;
    cursor: pointer;
    height: 40px;
    font-family: 'Gilroy';
    font-weight: 800;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    &:hover {
      background-color: #ff8a00;
      color: white;
    }
  }
}

.container {
  display: flex;
  justify-content: center;
}

.sandboxCarousel {
  width: 90%;
  position: relative;
}

.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 19rem;
}
.emblaViewport {
  overflow: hidden;
  background: #393e46;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.emblaContainer {
  display: flex;
  padding: 0.7rem;
}
.emblaSlide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  margin: 0 0.5rem;
  position: relative;
  cursor: pointer;
}
.emblaSlideImg {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}

.emblaThumbs {
  --thumbs-slide-spacing: 0.8rem;
  margin-top: var(--thumbs-slide-spacing);
}
.emblaThumbsViewport {
  overflow: hidden;
}
.emblaThumbsContainer {
  display: flex;
  justify-content: flex-start;
}
.emblaThumbsSlide {
  flex: 0 0 30%;
  margin: 10px;
  padding: 0.7rem;
  min-width: 0;
  background: #393e46;
  border-radius: 10px;
}

.emblaThumbsSlideButton {
  position: relative;
  background-color: transparent;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  width: 100%;
  opacity: 0.5;
  transition: opacity 0.2s;
}
.emblaThumbsSlideSelected .emblaThumbsSlideButton {
  opacity: 1;
}
.emblaThumbsSlideImg {
  object-fit: cover;
  border-radius: 10px;
}

.slider {
  &_img {
    width: 100%;
    height: 630px;

    &_png {
      border-radius: 10px;
      filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.1));
    }
    &_nav {
      height: 250px;
    }
  }
}

@media (max-width: 2500px) {
  .slider {
    &_img {
      width: 100%;
      height: 1100px;
      &_nav {
        height: 330px;
      }
    }
  }
  .sandboxCarousel {
    width: 70%;
  }
  .characteristics {
    &_block {
      width: 70%;
    }
  }
}

@media (max-width: 2200px) {
  .slider {
    &_img {
      width: 100%;
      height: 969px;

      &_nav {
        height: 290px;
      }
    }
  }
  .sandboxCarousel {
    width: 70%;
  }
  .characteristics {
    &_block {
      width: 70%;
    }
  }
}

@media (max-width: 1850px) {
  .slider {
    &_img {
      width: 100%;
      height: 872px;
      &_nav {
        height: 261px;
      }
    }
  }
  .sandboxCarousel {
    width: 75%;
  }
  .characteristics {
    &_block {
      width: 75%;
    }
  }
}

@media (max-width: 1460px) {
  .slider {
    &_img {
      width: 100%;
      height: 688px;
      &_nav {
        height: 206px;
      }
    }
  }
  .sandboxCarousel {
    width: 75%;
  }
  .characteristics {
    &_block {
      width: 75%;
    }
  }
}

@media (max-width: 1150px) {
  .slider {
    &_img {
      width: 100%;
      height: 541px;
      &_nav {
        height: 162px;
      }
    }
  }
  .sandboxCarousel {
    width: 75%;
  }
  .characteristics {
    &_block {
      width: 75%;
    }
  }
}

@media (max-width: 850px) {
  .btn {
    &_back {
      font-size: 50px;
    }
  }
  .slider {
    &_img {
      width: 100%;
      height: 454px;
      &_nav {
        height: 136px;
      }
    }
  }
  .sandboxCarousel {
    width: 85%;
  }
  .characteristics {
    &_block {
      width: 85%;
    }
  }
}

@media (max-width: 756px) {
  .characteristics {
    &_block {
      padding: 9px;
    }
    &_head {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &_column {
      justify-content: center;
      &_box {
        width: 55%;
      }
    }
  }
  .btn {
    &_back {
      font-size: 40px;
    }
  }
  .slider {
    &_img {
      width: 100%;
      height: 390px;
      &_nav {
        height: 176px;
      }
    }
  }
  .emblaThumbsSlide {
    flex: 0 0 45%;
  }
  .sandboxCarousel {
    width: 90%;
  }
  .characteristics {
    &_block {
      width: 90%;
    }
  }
}
@media (max-width: 715px) {
  .characteristics {
    &_block {
      padding: 5px;
    }
    &_head {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &_column {
      justify-content: center;
      &_box {
        width: 67%;
      }
    }
  }
  .btn {
    &_back {
      font-size: 40px;
    }
  }
  .slider {
    &_img {
      width: 100%;
      height: 314px;
      &_nav {
        height: 141px;
      }
    }
  }
  .emblaThumbsSlide {
    flex: 0 0 45%;
  }
  .sandboxCarousel {
    width: 100%;
  }
  .characteristics {
    &_block {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .characteristics {
    &_block {
      padding: 0;
    }
    &_head {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &_column {
      justify-content: center;
      &_box {
        width: 67%;
      }
    }
  }
  .btn {
    &_back {
      font-size: 40px;
    }
  }
  .slider {
    &_img {
      width: 100%;
      height: 314px;
      &_nav {
        height: 141px;
      }
    }
  }
  .emblaThumbsSlide {
    flex: 0 0 45%;
  }
  .sandboxCarousel {
    width: 100%;
  }
  .characteristics {
    &_block {
      width: 100%;
    }
  }
}
