.purchased_car {
  width: 400px;
  height: 458px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background: #fbfbfd;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  &_odometer {
    width: 100%;
    display: flex;
    justify-content: center;

    &_text {
      margin-left: 5px;
      display: flex;
      align-items: center;
      font-family: 'Gilroy';
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.38px;
      color: #363534;
    }
  }

  &_info {
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #393e46;
    text-align: center;
    display: flex;
    flex-direction: column;

    &_box {
      display: flex;
      width: 50%;
      margin-bottom: 5px;
    }

    &_text {
      display: flex;
      align-items: center;
      margin-left: 5px;
    }
  }

  &_background_img {
    display: flex;
    border: 30px;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.1));
    margin-bottom: 5px;
  }

  &_title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #393e46;
    text-align: center;
  }

  &_subtitle {
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #393e46;
    text-align: center;
  }

  &_price {
    text-align: center;
    

    &_usd {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 30px;
      color: orange;
    }

    &_between {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 30px;
      margin: 0 10px;
    }

    &_uah {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 19px;
      line-height: 22px;
      color: #393e46;
    }
  }

  &_button {
    border: 0;
    width: 80%;
    height: 39px;
    background: #ff8a00;
    border-radius: 4px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s all;
    margin: 0 auto;

    &:active {
      background: #cf6f00;
      -webkit-box-shadow: 0px 0px 5px -2px #000000;
      box-shadow: 0px 0px 5px -2px #000000;
    }
  }
}

@media (max-width: 1285px) {
  .purchased_car {
    width: 350px;
  }
}
