.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(57, 62, 70, 0.5);
}

.drawer {
  &.open {
    &_body {
      opacity: 1; /* показываем */ /*поняв*/
    }
  }

  &_body {
    margin: 30px 0 0 30px;
    height: min-content;
    max-height: 500px;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: visible;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 60px 60px 60px 60px;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 99999;

    /* width */
    &::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
      margin: 10px 0;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #c5c5c5;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:active {
      background: #a5a5a5;
    }

    &_close {
      display: none;
      justify-content: flex-end;
      cursor: pointer;
    }

    &_logo {
      width: 199px;
      height: 60px;
      margin-bottom: 50px;
    }

    &_nav {
      width: 100%;
      height: 79%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      &_link {
        display: flex;
        align-items: center;
        width: fit-content;
        margin: 10px 0px;
        padding: 0;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 800;
        cursor: pointer;
        text-decoration: none;
        font-size: 20px;
        line-height: 34px;
        letter-spacing: 0.36px;
        color: #393e46;
        text-align: left;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &:hover {
          border-radius: 0;
          background-color: white;
        }

        &:active {
          border-radius: 0;
          background-color: white;
        }

        span {
          margin-left: 8px;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .bg {
    background-color: transparent;
  }

  .drawer {
    &_body {
      width: 100vw;
      padding: 35px 12px 40px 40px;
      margin: 0;
      height: 100vh;
      border-radius: 0px;
      max-height: none;

      &_close {
        display: flex;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
    }
  }
}
