%map {
  width: 25.623rem;
  height: 19rem;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: absolute;
}

.footer {
  &_security {
    position: absolute;
    font-family: Gilroy;
    font-size: 1.1rem;
    line-height: 116px;
    color: #fbfbfd;
    top: 26.5rem;
  }

  &_body {
    width: 100%;
    background: url('../../public/img/footerBackground.png') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    align-items: center;
    padding: 5.3rem 3rem 5.6rem 3.5rem;
    position: relative;
  }
  &_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1550px;
  }
  &_contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &_title {
      font-family: 'Gilroy-Bold', sans-serif;
      font-size: 5.375rem;
      line-height: 116px;
      color: #fbfbfd;
      font-weight: 700;
    }

    &_box {
      margin: 1rem 0;
    }
  }

  &_messengers {
    &_title {
      font-family: 'Gilroy-Bold', sans-serif;
      font-size: 1.375rem;
      line-height: 28px;
      letter-spacing: 0.35px;
      color: #fbfbfd;
      font-weight: 700;
      margin-bottom: 0.7rem;
    }

    &_box {
      display: flex;
      justify-content: space-between;
      width: 60%;
    }
  }

  &_map {
    &_box {
      display: flex;
      position: relative;
      justify-content: flex-start;
      width: 100%;
    }
  }
}

.item {
  &_contact {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 1.25rem;
    line-height: 28px;
    letter-spacing: 0.35px;
    color: #fbfbfd;
    margin: 0.7rem 0;
    cursor: pointer;
    &_title {
      font-weight: 800;
      cursor: text;
    }
  }

  &_messenger {
    cursor: pointer;
  }

  &_map {
    &_first {
      @extend %map;
      background: #9fa19f;
      right: 3rem;
      top: 1rem;
      z-index: 10;
    }
    &_second {
      @extend %map;
      right: 2rem;
      top: 2rem;
      background: #ff8a00;
      z-index: 20;
    }
    &_main {
      @extend %map;
      right: 1rem;
      top: 3rem;
      background: url('../../public/img/location.png') no-repeat center;
      background-position: center;
      background-size: cover;
      z-index: 999;
    }
  }
}

@media (max-width: 1150px) {
  %map {
    display: none;
  }

  .footer {
    &_security {
      display: none;
    }

    &_body {
      width: 100%;
      background: #393e46;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2.5rem 2rem 3.5rem;
    }
    &_container {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    &_contacts {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      &_title {
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 57px;
        line-height: 116px;
        text-align: center;
        color: #fbfbfd;
      }

      &_box {
        margin: 0;
      }
    }

    &_messengers {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items:center;
      &_title {
        text-align: center;
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0.35px;
        color: #fbfbfd;
        font-weight: 800;
        margin: 0.7rem 0;
      }

      &_box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
      }
    }

    &_map {
      &_box {
        display: flex;
        position: relative;
        justify-content: flex-start;
        width: 100%;
      }
    }
  }

  .item {
    &_contact {
      text-align: center;
      font-family: 'Gilroy-Bold', sans-serif;
      font-size: 1.25rem;
      line-height: 28px;
      letter-spacing: 0.35px;
      color: #fbfbfd;
      margin: 0.7rem 0;
      text-decoration: none;
      font-weight: 800;
      &_title {
        font-weight: 800;
      }
    }
  }
}
