.grid {}

@media (max-width : 2000px) {
    .grid {
        width: 100%;
        justify-content: flex-start;
        margin-left: 0;
        padding: 20px ;
    }
}


@media (max-width : 889px) {
    .grid {
        width: 100%;
        justify-content: center;
        margin-left: 0;
        padding: 20px ;
    }
}




