@import 'styles/variables.module.scss';

.container {
  display: flex;
  justify-content: center;
  max-width: 1800px;
  margin: 0 auto;
}

.conditions {
  width: 100%;
  background: url('../../../../public/img/conditionsBackground.png') no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 2rem;
  padding-bottom: 3rem;
  &_title {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 4rem;
    &_info {
      width: 80%;
      text-align: center;
      font-family: $fontFamilyBold;
      font-size: 4.5rem;
      font-style: normal;
      font-weight: 800;
      line-height: 100px;
      color: $colorMainOrange;
    }
  }
}

.conditionItem {
  &_body {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &_evenRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem 0 12rem;
    width: 100%;
  }
  &_unevenRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem 0 6rem;
    width: 100%;
  }
  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 1rem;
    width: 37%;
    position: relative;
    background: $colorMainBlueBlack;

    box-shadow: $boxShadow;
    border-radius: 20px;
  }
  &_evenIcon {
    position: absolute;
    width: 6.25rem;
    height: 6.25rem;
    left: 98%;
    top: -10%;
    transform: translate(-50%, 0);
  }
  &_unevenIcon {
    position: absolute;
    width: 6.25rem;
    height: 6.25rem;
    left: 20%;
    top: -12%;
    transform: translate(-50%, 0);
  }
  &_img {
    display: flex;
    align-items: center;
    width: 44.375rem;
    height: 32.5rem;
  }
  &_info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    &_title {
      font-family: $fontFamilyBold;
      font-size: 28px;
      line-height: 2rem;
      text-align: center;
      font-weight: 700;
      color: $colorMainWhite;
    }
    &_subtitle {
      font-family: $fontFamilyBold;
      font-size: 24px;
      line-height: 34px;
      text-align: center;
      letter-spacing: 0.364px;
      color: $colorMainWhite;
    }
  }
}

@media (max-width: 1150px) {
  .conditions {
    width: 100%;
    background: $colorMainWhite;
    background-size: cover;
    padding-top: 2rem;
    &_title {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: 4rem;
      &_info {
        width: 90%;
        text-align: center;
        font-family: $fontFamilyBold;
        font-size: 2.6rem;
        font-style: normal;
        color: $colorMainOrange;
        line-height: 4rem;
        letter-spacing: 0.36000001430511475px;
      }
    }
  }

  .conditionItem {
    &_body {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    &_evenRow {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 100%;
    }
    &_unevenRow {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 100%;
    }
    &_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 4rem 0.8rem;
      max-width: 350px;
      width: 90%;
      position: relative;
      background: $colorMainBlueBlack;
      margin-bottom: 3rem;

      box-shadow: $boxShadow;
      border-radius: 20px;
    }
    &_evenIcon {
      position: absolute;
      width: 5.25rem;
      height: 5.25rem;
      left: 88%;
      top: -8.8%;
      transform: translate(-50%, 0);
    }
    &_unevenIcon {
      position: absolute;
      width: 5.25rem;
      height: 5.25rem;
      left: 88%;
      top: -10.8%;
      transform: translate(-50%, 0);
    }
    &_img {
      display: none;
    }
    &_info {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 1rem;
      &_title {
        font-family: $fontFamilyBold;
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;
        font-weight: 700;
        color: $colorMainWhite;
      }
      &_subtitle {
        font-family: $fontFamilyBold;
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        letter-spacing: 0.364px;
        color: $colorMainWhite;
      }
    }
  }
}
