@import "styles/variables.module.scss";

.black_background {
  background-color: $colorMainBlack;
}

.car_form {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $colorMainBlueBlack;
  padding: 2rem 4rem;

  &_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1550px;
    width: 100%;
  }

  &_action {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &_button {
      width: 24%;
      height: 3.125rem;
      font-family: $fontFamily;
      font-style: normal;
      font-weight: 800;
      font-size: 1.125rem;
      line-height: 1.33;
      text-align: center;
      background: $colorMainOrange;
      cursor: pointer;
      color: $colorMainWhite;
      box-shadow: $boxShadow;
      border-radius: 0.625rem;
      &:hover {
        background: $colorMainOrange;
      }
    }

    &_select {
      width: 24%;
      height: 3.125rem;
      text-align: center;
      font-weight: 800;
      color: $colorMainBlack;
      font-family: $fontFamily;
      font-style: normal;
      font-size: 1.125rem;
      line-height: 1.33;
      &_new {
        border-radius: 3.125rem;
      }
    }
  }

  &_placeholder {
    text-align: center;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.33;
    color: $colorPlaceholder;
  }

  &_errors {
    margin: 0 0 1.25rem 0;
    color: $colorWarn;
    font-family: $fontFamily;
    font-size: 0.9375rem;
  }

  &_option {
    text-align: center;
  }

  &_send {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    &_button {
      width: 30%;
      height: 3.125rem;
      font-family: $fontFamilyBold;
      font-style: normal;
      font-weight: 800;
      font-size: 1.125rem;
      line-height: 1.33;
      text-align: center;
      background: $colorMainOrange;
      cursor: pointer;
      color: white;
      box-shadow: $boxShadow;
      border-radius: 0.625rem;
      &:hover {
        background: $colorMainOrange;
      }
    }
    &_input {
      width: 31.288%;
      height: 50px;
      border: 0;
      font-style: normal;
      font-weight: 800;
      font-family: $fontFamily;
      transition: 0.3s all;
      font-size: 18px;
      color: #1e1e1e;
      text-align: center;
      border-radius: 10px;
      margin-right: 1.1rem;
      &::placeholder {
        text-align: center;
        font-family: $fontFamily;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
      }
      &:focus {
        outline: 2px solid $colorFocus;
      }
      &:active {
        outline: 2px solid $colorFocus;
      }
    }
  }

  &_title {
    width: 338px;
    color: $colorMainWhite;
    font-weight: 800;
    font-family: $fontFamilyBold;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 4rem;
  }

  &_modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

@media (max-width: 1150px) {
  .car_form {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $colorMainDarkGrey;
    padding: 2rem;

    &_body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      max-width: 1550px;
      width: 100%;
    }

    &_action {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      &_button {
        width: 16.5rem;
        height: 50px;
        font-family: $fontFamilyBold;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 12px;
        text-align: center;
        background: $colorMainOrange;
        cursor: pointer;
        color: $colorMainWhite;
        box-shadow: $boxShadow;
        border-radius: 10px;
        &:hover {
          background: $colorMainOrange;
        }
      }

      &_select {
        width: 16.5rem;
        height: 50px;
        text-align: center;
        font-weight: 800;
        color: $colorMainBlack;
        font-family: $fontFamily;
        font-style: normal;
        font-size: 18px;
        line-height: 20.75px;
        margin-bottom: 0.5rem;
        &_new {
          border-radius: 50px;
        }
      }
    }
    &_placeholder {
      text-align: center;
      font-family: $fontFamily;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 20.75px;
      color: $colorMainGrey;
    }

    &_errors {
      margin: 0 0 20px 0;
      color: $colorWarn;
      font-family: $fontFamily;
      font-size: 15px;
    }

    &_option {
      text-align: center;
    }

    &_send {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      &_button {
        width: 16.5rem;
        margin-top: 3.65rem;
      }
      &_input {
        width: 16.5rem;
        margin-right: 0;
        margin-bottom: 0.5rem;
      }
    }

    &_title {
      max-width: 350px;
      width: 90%;
      font-size: 24px;
      line-height: 34px;
      text-align: center;
      letter-spacing: 0.36px;
      color: $colorMainWhite;
      margin-bottom: 2rem;
    }
  }
}
